.DS_Store
.idea/
*/node_modules
*/.env

web/dist

# local env files
*/.env.local
*/.env.*.local

# Log files
*/npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?